<% include header %>
<div class="container">
        <h2>Armas</h2>
        <p>Caracteristicas</p>            
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Caracteristicas</th>
              <th>Efectiva contra</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>Martillo pesado de mango largo ó sledgehammer</td>
                    <td> No es tan pesado como un tubo y es resistente mas aun que un bat de aluminio que a la larga no resistiría un uso prolongado.</td> 
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Pata de cabra (steel crowbar)</td>
                    <td>Por ser una herramienta de construcción es ligera y resistente, es ideal para un combate cercano con un Zombie, con su extremo curvo se puede penetrar hasta el cerebro del no muerto entrando por la cuenca ocular.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Katana Samurai</td>
                    <td>Su peso te permitirá librar conflictos largos y su hoja es capaz de atravesar casi cualquier tejido orgánico.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Machete</td>
                    <td>Se puede utilizar con facilidad en combate dentro de una casa o a campo abierto.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Cuchillo de trinchera</td>
                    <td>Su uso era para atravesar el craneo del enemigo aun con el casco puesto. Así que al utilizarla en un Zombie podrás atravesar el cráneo muy fácil y rápido, lo que te permitirá seguir atravezando cerebros Zombies o dar puñetazos con la manopla o escapar.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Espada Shaolin</td>
                    <td>Es una arma que te da la seguridad de la distancia durante el combate y sabiendo usarla puedes decapitar a un Zombie de una sola intención.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Rifle de asalto AK-47</td>
                    <td>Se puede usar el rifle en modo semiautomático para ser mas certero en tu objetivo, el cerebro Zombie.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Rifle semiautomático</td>
                    <td>Por ser ligera y corta es ideal para combate en espacios confinados o para largas jornadas a pie.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>Pistolas</td>
                    <td>Pueden salvar tu vida en caso de que te encuentres muy cerca del Zombie para disparar encañonandolo y volarle la tapa de los sesos.</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
                <tr>
                    <td>El cuerpo humano</td>
                    <td>Es la mejor arma en situaciones de riesgo</td>
                    <td>Todos excepto los Caminantes Blancos</td>
                </tr>
          </tbody>
        </table>
      </div>
<% include footer %>