<% include header %>
<div class="container">
        <h2>Clases de zombies</h2>
        <p>Caracteristicas de zombies</p>            
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Foto</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Los Zombis altamente funcionales</td>
              <td><img src="/recursos/1.jpg" width="160px" height="160px"/></td>
              <td>Surgen por un virus aparentemente creado (inadvertidamente) por una empresa farmacéutica. Se destacan por su carencia de pigmentación y la necesidad fisiológica de comer cerebros humanos, pero son capaces de mezclarse fácilmente en la sociedad siempre que estén alimentados, sino entran en modo “zombi total” y atacan.</td>
            </tr>
            <tr>
              <td>Los Bonies</td>
              <td><img src="/recursos/2.jpg" width="160px" height="160px"/></td>
              <td>Son la evolución final (o degradación) de un zombi, inicialmente son infectados cuya funciones físicas cesaron pero siguen vivos, tienen pocos recuerdos de su vida y hambre por la carne humana, cuando pasa el suficiente tiempo, se arrancan la carne convirtiéndose en unos seudoesqueletos que matan todo lo que tengan enfrente.</td>
            </td>
            </tr>
            <tr>
              <td>Los Portadores</td>
              <td><img src="/recursos/3.jpg" width="160px" height="160px"/></td>
              <td>Esta clase de zombis existen solamente para expandir el virus, por eso no matan a sus víctimas sino que las contagian mediante una mordida.</td>
            </tr>
            <tr>
                <td>Los PDS / Los "Rotters"</td>
                <td><img src="/recursos/4.png" width="160px" height="160px"/></td>
                <td>El apocalipsis zombi ha pasado y aquellos que se convirtieron en “Rotters” (muertos vivientes caníbales) ahora se los considera pacientes que sufren del Síndrome del Parcialmente Difunto (o PDS en inglés) y reciben un extenso tratamiento médico gubernamental para reintegrarlos lentamente a la sociedad.</td>
            </tr>
            <tr>
                <td>Los Caminantes Blancos</td>
                <td><img src="/recursos/5.jpg" width="160px" height="160px"/></td>
                <td>Seres nacidos en el frío y la oscuridad, por lo que escapan del sol y el calor. Surgen cuando un humano muere en las zonas invernales, se cree que alguna clase de espíritu revive al cuerpo blanqueando su piel y azulando sus ojos. Se los puede matar con armas de acero Valyrio, de obsidiana (vidriagón), o fuego.</td>
            </tr>
            <tr>
                <td>Los Caminantes / Merodeadores / Mordedores</td>
                <td><img src="/recursos/6.jpg" width="160px" height="160px"/></td>
                <td>Se desconoce (aún) los motivos, pero los recientemente muertos vuelven a la vida y se convierten en criaturas caníbales similares a los “Romero”; la mordida de estos zombis trasmite una enfermedad infecciosa letal, pero toda persona que muere se convierte en un Caminante aun si no fue mordido. </td>
            </tr>
            <tr>
                <td> Los Darkseekers</td>
                <td><img src="/recursos/7.jpg" width="160px" height="160px"/></td>
                <td>Un virus experimental modificado de la varicela es empleado como posible cura para el cáncer, pero mata al 89% de la humanidad y convierte a un 10% en monstruos depredadores muy violentos y agresivos altamente vulnerables a la luz solar, que se dedican a cazar cualquier ser vivo para alimentarse de su sangre y carne.</td>
            </tr>
            <tr>
                <td>Los Malditos</td>
                <td><img src="/recursos/8.png" width="160px" height="160px"/></td>
                <td>Surgen cuando un muerto es enterrado en un antiguo cementerio Micmac, cuyas tierras están malditas por la desaparecida tribu</td>
            </tr>
            <tr>
                <td>Los Creeps</td>
                <td><img src="/recursos/9.png" width="160px" height="160px"/></td>
                <td>Este tipo de zombis aparecen cuando unos parásitos espaciales se introducen dentro del cuerpo humano y toman control de sus funciones, convirtiendo a su huésped en un monstruo que no experimenta dolor que sigue activo aun después de sufrir daño extremo y tienen ansias asesinas.</td>
            </tr>
            <tr>
                <td>Los Deadites / Hordas del Necronomicon / Los "Raimi"</td>
                <td><img src="/recursos/10.jpg" width="160px" height="160px"/></td>
                <td>Son cadáveres vueltos a la vida por una maldición del Necronomicon (el libro de los muertos), su poder también es capaz de convertir a seres vivos en esta clase de zombis y pueden trasmitir la maldición mediante mordidas, no son caníbales pero sí matan a todo el que se opone a los deseos del libro.</td>
            </tr>
          </tbody>
        </table>
      </div>
<% include footer %>