<% include header %>

<head>
        <title>Zombiewiki</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

        <h3 style="text-align:center;">¿Te gustan los Zombies?</h3>
        <center><img  src="/recursos/zombie.jpg" alt="zombie" ></center>
        <h3 style="text-align:center;" >La web de los zombies</h3>
</body>
</html>
<% include footer %>